[project]
	description = kernel_htc_msm8974
[access "refs/for/*"]
	exclusiveGroupPermissions = push
	abandon = group m8 dev
	create = group m8 dev
	delete = group m8 dev
	deleteChanges = group m8 dev
	deleteOwnChanges = group m8 dev
	editTopicName = group m8 dev
	forgeAuthor = group m8 dev
	forgeCommitter = group m8 dev
	forgeServerAsCommitter = group m8 dev
	label-Code-Review = -2..+2 group m8 dev
	label-Verified = -1..+1 group m8 dev
	push = +force group m8 dev
	pushMerge = group m8 dev
	rebase = group m8 dev
	submit = group m8 dev
